extends layout
block querybox
  .query()
    input(id="query", autofocus, speech, x-webkit-speech, autocomplete="off", placeholder="請輸入欲查詢的字詞，例如：萌", ng-model="dict_q", ng-change="change()", bs-typeahead="dict_items", items="10")
block content
    #dictcontent
      .noentry(ng-hide="dict_content.entries")
      .entry(ng-repeat="entry in dict_content.entries") 
        .entry_header
          .entry_header_l
            h1.title {{entry.title}}
            p.clear
          .entry_header_r
            span.bopomofo
              {{entry.bopomofo}}
            span.bopomofo2
              {{entry.bopomofo2}}
            p.clear
          .entry_header_r
            span.radical_header(ng-show="entry.radical")
              部首
            span.radical.label.label-warning(ng-show="entry.radical")
              {{entry.radical}}
            span.stroke_count_header(ng-show="entry.stroke_count")
              筆劃
            span.stroke_count(ng-show="entry.stroke_count")
              {{entry.stroke_count}}
            span.stroke.label.label-warning
              劃
          p.clear
        #strokes
        ol
          li(ng-repeat="definition in entry.definitions")
            span.label.label-info(ng-bind="definition.type", ng-show="definition.type")
            .quote(ng-show="definition.isdef_type")
              span.def_type_header.label.label-info(ng-repeat="type in definition.def_type", ng-bind="type")
            span.definition(ng-bind-html-unsafe="definition.def", ng-show="definition.def")
            span.definition(ng-bind-html-unsafe="definition.example", ng-show="definition.example")
            .quote(ng-show="definition.isquote")
              span.definition(ng-repeat="quo in definition.quote", ng-bind-html-unsafe="quo")
            span.definition(ng-bind-html-unsafe="definition.link", ng-show="definition.link")
            span.synonyms_header.label.label-info(ng-show="definition.synonyms")
              相似
            span.synonyms(ng-bind-html-unsafe="definition.synonyms", ng-show="definition.synonyms")
            p.clear
            span.antonyms_header.label.label-info(ng-show="definition.antonyms")
              相反
            span.antonyms(ng-bind-html-unsafe="definition.antonyms", ng-show="definition.antonyms")
            p.clear
          li(ng-repeat="translation in entry.translations")
            span.label.label-warning(ng-bind="translation.lang", ng-show="translation.lang")
            span.translation(ng-bind-html-unsafe="translation.def", ng-show="translation.def")
 
 
            
            

