!!!5
html(ng-app='moedict-web', lang="zh-TW")
  head
    title 萌典測試版
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-fluid.main-content
      .row-fluid(ng-controller="MoeDictCtrl")
        .span8
          block content
        .span3#querysection
          header
            h1 萌典
            span 韓非子．說林上：「聖人見微以知萌，見端以知末。」
          block querybox
    //.container
      .main-content
        block content
    footer
  script(src='/javascript/jquery-1.7.2.min.js', type='text/javascript')
  //script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js', type='text/javascript')
  script(src='/javascript/bootstrap.min.js', type='text/javascript')
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js', type='text/javascript')
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js', type='text/javascript')
  script(src='/javascript/angular-strap.js', type='text/javascript')
  script(src='/javascript/app.js', type='text/javascript')

