/*
 * Import nib
 */
@font-face {
  font-family: Extra;
  src: url("HANNOMMoEExtra-Regular.otf") format(truetype), url("HANNOMMoEExtra-Regular.woff") format(woff);
}
@font-face {
  font-family: Subset;
  src: url("HannomMoeSubset.otf") format(truetype), url("HannomMoeSubset.woff") format(woff);
}
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: "Subset", "Extra", "HAN NOM A", "HAN NOM B", sans-serif;
  background-color: #faf9f0;
  color: #444;
}
header {
  margin-bottom: 20px;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
}
header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
header span {
  font-size: 15px;
}
.container {
  width: 800px;
  height: auto;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  padding-top: 50px;
}
.main-content p {
  margin-bottom: 20px;
}
.main-content #query {
  padding: 5px;
  font-size: 16pt;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 50pt;
}
.main-content #dictcontent {
  -webkit-box-shadow: 1px 1px 3px 0px #999;
  box-shadow: 1px 1px 3px 0px #999;
  border: 1px solid #ddd;
  margin-bottom: 50pt;
  padding: 5px 10px;
  margin-right: 1%;
  height: auto;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  bottom: 5px;
  word-break: break-all;
}
.main-content #dictcontent h1#title {
  font-size: 18pt;
  margin-top: 5px;
  padding: 5px 10px;
}
.main-content #dictcontent ol {
  list-style-type: decimal;
  padding: 5px 10px 5px 10px;
  font-size: 14pt;
  margin-left: 30px;
}
.main-content #dictcontent p.definition {
  font-size: 14pt;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
}
.main-content #dictcontent a {
  color: inherit;
  text-decoration: none;
  font-size: 14pt;
}
.main-content #dictcontent a:hover {
  text-decoration: underline;
  color: #f00;
}
.main-content #dictcontent span#bopomofo {
  font-size: 14pt;
  margin-top: 5px;
  padding: 5px 10px;
  font-family: "Subset", "Extra", "教育部標準楷書", "標楷體", BiaoKai, "Courier New", sans-serif;
}
p {
  line-height: 1.8;
}
