/*
 * Import nib
 */
@font-face {
  font-family: Extra;
  src: url("HANNOMMoEExtra-Regular.otf") format(truetype), url("HANNOMMoEExtra-Regular.woff") format(woff);
}
@font-face {
  font-family: Subset;
  src: url("HannomMoeSubset.otf") format(truetype), url("HannomMoeSubset.woff") format(woff);
}
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: sans-serif, "Subset", "Extra", "HAN NOM A", "HAN NOM B";
  background-color: #faf9f0;
  color: #444;
}
header {
  margin-bottom: 20px;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
}
header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
header span {
  font-size: 15px;
}
.container {
  width: 800px;
  height: auto;
  margin: 50px auto;
  overflow: hidden;
}
@media (max-width: 620px) {
  .main-content #dictcontent {
    position: relative;
    top: 200px;
  }
}
@media (min-width: 621px) and (max-width: 767px) {
  .main-content #dictcontent {
    position: relative;
    top: 100px;
  }
}
@media (max-width: 767px) {
  .main-content header {
    float: left;
  }
  .main-content #querysection {
    width: 96%;
    padding-top: 10px;
    margin: 10px;
    -webkit-box-shadow: 1px 1px 3px 0px #999;
    box-shadow: 1px 1px 3px 0px #999;
    border: 1px solid #ddd;
    background: #fff;
    position: fixed;
    top: 5px;
  }
}
.main-content {
  padding-top: 50px;
}
.main-content p {
  margin-bottom: 20px;
}
.main-content .query {
  font-size: 20px;
}
.main-content #query {
  padding: 5px;
  font-size: 16pt;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 50pt;
}
.main-content #dictcontent {
  margin-bottom: 50pt;
  padding: 5px 10px;
  margin-right: 1%;
  height: auto;
  bottom: 5px;
  word-break: break-all;
}
.main-content #dictcontent .noentry,
.main-content #dictcontent .entry {
  padding-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 3px 0px #999;
  box-shadow: 1px 1px 3px 0px #999;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.main-content #dictcontent .noentry {
  padding-bottom: 130px;
}
.main-content #dictcontent .entry_header_r,
.main-content #dictcontent .entry_header_l {
  display: inline-block;
  float: left;
}
.main-content #dictcontent h1.title {
  display: inline;
  float: left;
  font-size: 38pt;
  margin-top: 5px;
  padding: 5px 10px;
}
.main-content #dictcontent ol {
  list-style-type: decimal;
  padding: 5px 10px 5px 10px;
  font-size: 14pt;
  margin-left: 30px;
}
.main-content #dictcontent li {
  margin-bottom: 10px;
}
.main-content #dictcontent span.nodefinition {
  display: block;
}
.main-content #dictcontent span.definition,
.main-content #dictcontent span.translation {
  font-size: 14pt;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  display: block;
  line-height: 1.8;
}
.main-content #dictcontent span.translation {
  font-family: "Georgia", "American Typewriter", sans-serif;
}
.main-content #dictcontent a {
  color: inherit;
  text-decoration: none;
  font-size: 14pt;
}
.main-content #dictcontent a:hover {
  text-decoration: underline;
  color: #f00;
}
.main-content #dictcontent p.clear {
  clear: both;
}
.main-content #dictcontent span.radical_header {
  margin-top: 20px;
}
.main-content #dictcontent span.stroke_count {
  margin-top: 21px;
}
.main-content #dictcontent span.stroke {
  margin-top: 24px;
}
.main-content #dictcontent span.stroke_count_header {
  margin-top: 22px;
}
.main-content #dictcontent span.radical {
  margin-top: 24px;
}
.main-content #dictcontent span.radical,
.main-content #dictcontent span.radical_header,
.main-content #dictcontent span.stroke,
.main-content #dictcontent span.stroke_count,
.main-content #dictcontent span.stroke_count_header {
  white-space: nowrap;
  display: inline-block;
  float: left;
  padding: 5px 10px;
  font-family: "DFKaiShu-SB-Estd-BF", "Subset", "Extra", "教育部標準楷書", "標楷體", BiaoKai, "Courier New", sans-serif;
}
.main-content #dictcontent span.synonyms_header,
.main-content #dictcontent span.synonyms,
.main-content #dictcontent span.antonyms_header,
.main-content #dictcontent span.antonyms {
  white-space: nowrap;
  display: inline-block;
  float: left;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  line-height: 1.8;
}
.main-content #dictcontent span.def_type_header {
  white-space: nowrap;
  display: inline-block;
  margin-right: 5px;
}
.main-content #dictcontent span.synonyms_header,
.main-content #dictcontent span.antonyms_header {
  font-size: 12px;
  padding: 2px;
  margin-top: 12px;
}
.main-content #dictcontent span.synonyms,
.main-content #dictcontent span.antonyms {
  font-size: 14px;
}
.main-content #dictcontent span.stroke {
  font-size: 20px;
}
.main-content #dictcontent span.stroke_count,
.main-content #dictcontent span.stroke_count_header {
  font-size: 20px;
}
.main-content #dictcontent span.radical,
.main-content #dictcontent span.radical_header {
  font-size: 25px;
}
.main-content #dictcontent span.bopomofo {
  margin-top: 5px;
}
.main-content #dictcontent span.bopomofo,
.main-content #dictcontent span.bopomofo2,
.main-content #dictcontent span.pinyin {
  white-space: nowrap;
  clear: left;
  display: block;
  float: left;
  padding: 5px 10px;
  font-size: 10pt;
  font-family: "DFKaiShu-SB-Estd-BF", "Subset", "Extra", "教育部標準楷書", "標楷體", BiaoKai, "Courier New", sans-serif;
}
.main-content #dictcontent #strokes {
  clear: both;
  display: none;
}
p {
  line-height: 1.8;
}
