/*
 * Import nib
 */
@import 'nib'

@font-face
    font-family Extra
    src url(HANNOMMoEExtra-Regular.otf) format(truetype),
         url(HANNOMMoEExtra-Regular.woff) format(woff);

@font-face 
    font-family Subset
    src url(HannomMoeSubset.otf) format(truetype),
         url(HannomMoeSubset.woff) format(woff);

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

body
  font-family sans-serif, "Subset", "Extra", "HAN NOM A", "HAN NOM B"
  background-color background-color
  color #444

header
  //color #fff
  //text-align center
  margin-bottom 20px

  h1
    font-size 50px
    margin-bottom 10px
  span
    font-size 15px
  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  //background-color main-color
  //border-bottom 1px solid darken(main-color, 30%)
  //text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  width 800px
  height auto
  margin 50px auto
  overflow hidden


@media (max-width: 620px)

  .main-content

    #dictcontent
      position relative
      top 200px
 
@media (min-width: 621px) and (max-width: 767px)

  .main-content

    #dictcontent
      position relative
      top 100px

@media (max-width: 767px)
 
  .main-content
 
    header
      float left;
 
    #querysection
      width 96%
      padding-top 10px
      margin 10px
      box-shadow 1px 1px 3px 0px #999
      border 1px solid #ddd
      background #fff
      //border-radius 10px
      position fixed;
      top 5px;
 
.main-content
  padding-top 50px

  p
    margin-bottom 20px

  .query
    font-size 20px
 
  #query
    padding 5px
    font-size 16pt
    border-radius 5px
    margin-bottom 50pt
    //position fixed
    //margin-left: 1%;
    //margin-right: 1%;
    //bottom 5px;
 
  #dictcontent
    //box-shadow 1px 1px 3px 0px #999
    //border 1px solid #ddd
    margin-bottom: 50pt
    padding 5px 10px
    //margin-left 50px
    margin-right 1%
    height auto
    //background #fff
    //border-radius: 10px
    bottom 5px
    word-break: break-all

    .noentry
    .entry
        //border-bottom 1px ridge #999
        padding-top 10px
        margin-bottom 10px
        box-shadow 1px 1px 3px 0px #999
        border 1px solid #ddd
        background #fff
        border-radius 10px

    .noentry
        padding-bottom 130px
 
    .entry_header_r
    .entry_header_l
        display inline-block
        float left

    h1.title
        display inline
        float left
        font-size 38pt
        margin-top 5px
        padding 5px 10px

    ol
        list-style-type decimal    
        padding 5px 10px 5px 10px
        font-size 14pt
        margin-left 30px
    li
        margin-bottom 10px
 
    span.nodefinition
        display block

    span.definition
        font-size 14pt
        margin-top 5px
        padding 5px 10px 5px 10px
        display block
        line-height 1.8

    a
        color inherit
        text-decoration none
        font-size 14pt

    a:hover
        text-decoration underline
        color red
    
    p.clear
        clear both

    span.radical_header
        margin-top 20px

    span.stroke_count
        margin-top 21px 
 
    span.stroke_count_header
        margin-top 22px 
 
    span.radical
        margin-top 24px
 
    span.radical
    span.radical_header 
    span.stroke_count
    span.stroke_count_header
        //margin-top 20px
        white-space nowrap
        display inline-block
        float left
        padding 5px 10px
        font-family: "DFKaiShu-SB-Estd-BF", "Subset", "Extra", "教育部標準楷書", "標楷體", BiaoKai, "Courier New", sans-serif;

    span.stroke_count
    span.stroke_count_header
        font-size 20px
    span.radical
    span.radical_header
        font-size 25px

    span.bopomofo
        margin-top 5px

    span.bopomofo
    span.bopomofo2
    span.pinyin
        white-space nowrap
        clear left
        display block
        float left
        padding 5px 10px
        font-size 10pt
        font-family: "DFKaiShu-SB-Estd-BF", "Subset", "Extra", "教育部標準楷書", "標楷體", BiaoKai, "Courier New", sans-serif;

p
  line-height 1.8

